* { padding:0px; margin:0px auto; }
html, body { background-color:#222222; color:#FFFFFF; font:normal 14pt Ubuntu, Verdana, Arial; }

h1 { font-size:25pt; }
h2 { font-size:20pt; }
h3 { font-size:15pt; }

/** CLEARFIX for floated elements */
.cf:before, .cf:after { content:""; display:table; } /* For modern browsers */
.cf:after { clear:both; } /* For modern browsers */
.cf { *zoom:1; } /* For IE 6/7 (triggers hasLayout) */

#wrapper { width:100%; }

/* NAVIGATION */
#wrapper #nav { width:100%; background-color:#111111; border-bottom:2px solid #222222; position:fixed; }
#wrapper #nav .content_area { width:1080px; }
#wrapper #nav .content_area li { width:150px; padding:3px 5px; color:#A9A505; font-family:Lobster, Verdana, Arial; text-align:center; border-bottom:2px solid #111111; list-style:none; float:right; cursor:pointer; }
#wrapper #nav .content_area li.active { border-bottom:2px solid #A9A505; }
#wrapper #nav .content_area li:hover { border-bottom:2px solid #A9A505; }

#wrapper #header { width:100%; height:650px; padding:1px; background:url('../images/Header_Background_2.jpg') no-repeat; background-position:0px -100px; }
#wrapper #header #header_title { margin:250px 0px 0px 100px; font:normal 64px Lobster, Verdana, Arial;}
#wrapper #header #header_caption { margin-left:200px; font:normal 24px Jura, Verdana; }

/* ABOUT SECTION */
#wrapper #about { height:500px; background-color:#807C01; box-shadow:5px 5px 10px #000; border:2px solid #a9a400; border-left:none; border-right:none; }
#wrapper #about .content_area { width:1080px; padding-top:50px; color:#222222; font:normal 20pt Jura, Verdana, Arial; }
#wrapper #about h3 { font-size:24pt; }

/* SKILLS SECTION */
#wrapper #skills { height:300px; }
#wrapper #skills .content_area { width:1080px; padding-top:50px; }
#wrapper #skills .content_area .skill { width:300px; height:200px; margin:20px; background-color:#111111; float:left; }
#wrapper #skills .content_area .skill .skill_plus { width:20px; padding:1px 0px; text-align:center; background-color:#000000; color:#111111; position:relative; left:40px; cursor:pointer; }
#wrapper #skills .content_area .skill .skill_plus:hover { background-color:#333333; }