* { padding:0px; margin:0px auto; }
html, body { background-color:#299457; color:#222222; font:normal 9pt "Trebuchet MS", Verdana, Arial; }

h1 { font-size:25pt; }

#wrapper { width:1000px; margin-top:100px; }